[submodule "third_party/grpc-sideband"]
	path = third_party/grpc-sideband
	url = https://github.com/ni/grpc-sideband
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts
